.navbar-wrapper{
    width: 250px;
    height: 250px;
    float: right;
    margin: 10px;
    margin-right: 20px;
    background-color: #f8f5f1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    width: 250px;
    height: 250px;
    background-color: #6a7fdb;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: scale(0) rotate(-180deg);
    transition: transform .5s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
}
.change .navbar{
    transform: scale(1) rotate(0);
}
.navbar-link{
    position: absolute;
}
.navbar-link i{
    font-size: 50px;
    color: #fff;
    transition: color 0.3s;
}
.navbar-link:hover i{
    color: #222;
}
.navbar-link:nth-child(1){
    top: 20px;
}
.navbar-link:nth-child(2){
    top: 50px;
    right: 20px;
}
.navbar-btn{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ff6b6b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
}
.navbar-btn i{
    font-size: 20px;
    color: #fff;
    transition: transform 0.5s;
}
.change .navbar-btn i{
    transform: rotate(45deg);
}